openapi: 3.0.3
info:
  title: Phorest Third-Party Appointments Leads API
  description: The Phorest API exposes a partner-gated business's salon/spa data - clients, appointments, bookings, staff, services, products, purchases, vouchers, loyalty, and reporting - for approved integrators. Access is granted by Phorest support on request (quoting a Phorest Account Number), not through self-service signup. Requests use HTTP Basic authentication with a `global/{email}` username and a Phorest-issued API password, and are scoped in the URL path to a `businessId` and, for most resources, a `branchId`. Endpoints, methods, and parameters in this document are transcribed from Phorest's public API reference at developer.phorest.com/reference; a small number of item-level paths (marked in their description) are modeled by convention from the confirmed collection-level siblings because Phorest's public reference does not expose every single-resource path in plain text.
  version: '1.0'
  contact:
    name: Phorest API Support
    email: api-requests@phorest.com
    url: https://developer.phorest.com/docs/getting-started
  license:
    name: Proprietary - partner access only
    url: https://developer.phorest.com/docs/requesting-assistance-with-the-phorest-api
servers:
- url: https://api-gateway-eu.phorest.com/third-party-api-server/api/business
  description: EU production gateway
- url: https://api-gateway-us.phorest.com/third-party-api-server/api/business
  description: US/AUS production gateway
- url: https://platform.phorest.com/third-party-api-server/api/business
  description: EU production alias documented in Phorest support articles
security:
- basicAuth: []
tags:
- name: Leads
  description: Marketing leads and lead statistics.
paths:
  /{businessId}/branch/{branchId}/leads:
    parameters:
    - $ref: '#/components/parameters/BusinessId'
    - $ref: '#/components/parameters/BranchId'
    get:
      operationId: getLeads
      tags:
      - Leads
      summary: List marketing leads
      description: 'Lists marketing leads for a branch, filterable by name, status, and contactability. Confirmed: developer.phorest.com/reference/getleads.'
      parameters:
      - name: name
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: array
          items:
            type: string
      - name: contactableByEmail
        in: query
        schema:
          type: boolean
      - name: contactableByMobile
        in: query
        schema:
          type: boolean
      - name: fetchMessageHistory
        in: query
        schema:
          type: boolean
      - $ref: '#/components/parameters/Size'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Leads listed successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Lead'
  /{businessId}/branch/{branchId}/leads/stats:
    parameters:
    - $ref: '#/components/parameters/BusinessId'
    - $ref: '#/components/parameters/BranchId'
    get:
      operationId: getLeadsStats
      tags:
      - Leads
      summary: Retrieve lead statistics
      description: 'Retrieves aggregate lead statistics for a branch. Confirmed to exist: developer.phorest.com/reference/getleadsstats; sub-path modeled by convention.'
      responses:
        '200':
          description: Lead statistics.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /{businessId}/lead:
    parameters:
    - $ref: '#/components/parameters/BusinessId'
    post:
      operationId: createLead
      tags:
      - Leads
      summary: Create a lead
      description: 'Creates a marketing lead (e.g. from a website contact form). Confirmed to exist: developer.phorest.com/reference/createlead; sub-path modeled by convention.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lead'
      responses:
        '201':
          description: Lead created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'
components:
  parameters:
    Page:
      name: page
      in: query
      description: Zero-indexed page number. Defaults to 0.
      schema:
        type: integer
        default: 0
        minimum: 0
    BusinessId:
      name: businessId
      in: path
      required: true
      description: The Phorest business (salon group) identifier.
      schema:
        type: string
    Size:
      name: size
      in: query
      description: Records per page. Max 100, defaults to 20.
      schema:
        type: integer
        default: 20
        maximum: 100
    BranchId:
      name: branchId
      in: path
      required: true
      description: The Phorest branch (location) identifier.
      schema:
        type: string
  schemas:
    Lead:
      type: object
      properties:
        leadId:
          type: string
        name:
          type: string
        status:
          type: string
        contactableByEmail:
          type: boolean
        contactableByMobile:
          type: boolean
        email:
          type: string
          format: email
        mobile:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Username is `global/{email}`, using the email address Phorest associated with the granted API access. Password is the API password issued by Phorest support.
