openapi: 3.2.0
info:
  title: Phorest Third-Party Products API
  description: The Phorest API exposes a partner-gated business's salon/spa data - clients, appointments, bookings, staff, services, products, purchases, vouchers, loyalty, and reporting - for approved integrators.
  version: '1.0'
  contact:
    name: Phorest API Support
    email: api-requests@phorest.com
    url: https://developer.phorest.com/docs/getting-started
  license:
    name: Proprietary - partner access only
    url: https://developer.phorest.com/docs/requesting-assistance-with-the-phorest-api
servers:
- url: https://api-gateway-eu.phorest.com/third-party-api-server/api/business
  description: EU production gateway
- url: https://api-gateway-us.phorest.com/third-party-api-server/api/business
  description: US/AUS production gateway
- url: https://platform.phorest.com/third-party-api-server/api/business
  description: EU production alias documented in Phorest support articles
security:
- basicAuth: []
tags:
- name: Products
  description: Retail products and inventory.
paths:
  /{businessId}/branch/{branchId}/product:
    parameters:
    - $ref: '#/components/parameters/BusinessId'
    - $ref: '#/components/parameters/BranchId'
    get:
      operationId: getProducts
      tags:
      - Products
      summary: List retail products
      description: 'Lists retail products for a branch with stock level, pricing, and barcode data. Confirmed: developer.phorest.com/reference/getproducts.'
      parameters:
      - name: productType
        in: query
        schema:
          type: string
      - name: searchQuery
        in: query
        schema:
          type: string
      - name: archivedOnly
        in: query
        schema:
          type: boolean
      - name: outOfStock
        in: query
        schema:
          type: boolean
      - name: lowStock
        in: query
        schema:
          type: boolean
      - name: includeArchived
        in: query
        schema:
          type: boolean
      - name: updated_from
        in: query
        schema:
          type: string
          format: date-time
      - name: updated_to
        in: query
        schema:
          type: string
          format: date-time
      - $ref: '#/components/parameters/Size'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Products listed successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    BadRequest:
      description: The request was invalid.
    ServerError:
      description: Internal server error.
    RateLimited:
      description: Request rate limit exceeded. Current limit set to 100 requests per second.
    NotFound:
      description: The specified business, branch, or resource does not exist.
  parameters:
    Page:
      name: page
      in: query
      description: Zero-indexed page number. Defaults to 0.
      schema:
        type: integer
        default: 0
        minimum: 0
    BranchId:
      name: branchId
      in: path
      required: true
      description: The Phorest branch (location) identifier.
      schema:
        type: string
    BusinessId:
      name: businessId
      in: path
      required: true
      description: The Phorest business (salon group) identifier.
      schema:
        type: string
    Size:
      name: size
      in: query
      description: Records per page. Max 100, defaults to 20.
      schema:
        type: integer
        default: 20
        maximum: 100
  schemas:
    Product:
      type: object
      properties:
        productId:
          type: string
        name:
          type: string
        barcode:
          type: string
        productType:
          type: string
        price:
          type: number
        stockLevel:
          type: integer
        archived:
          type: boolean
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Username is `global/{email}`, using the email address Phorest associated with the granted API access. Password is the API password issued by Phorest support.
